<!doctype html>
<html lang="esp">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Agenda!</title>
  </head>
  <body>
    <div class="container">
    	<div class="row">
    		<div class="col-12">
    			<div class="row">
    				<div class="col-8">
    					<h1>Appointments</h1>
    				</div>
    				<div class="col-4">
    					<div class="row">
	    					<a class="btn btn-success mt-2 col-6" href="#" th:href="@{/agenda/new}">Add New</a>
	    					<div class="col-6">
		    					<form action="#" th:action="@{/logout}" method="POST">
		 		   					<button class="btn btn-warning mt-2" type="submit" >Log out</button>
		    					</form>
	    					</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    	<div class="row">
    		<div class="col-12">
    			<table class="table">
			    	<thead class="thead-dark">
			    		<tr>
			    			<th>Date</th>
			    			<th>Time</th>
			    			<th>Description</th>
			    			<th>Priority</th>
			    			<th></th>
			    		</tr>
			    	</thead>
			    	<tbody>
			    		<tr th:each="appointment: ${appointments}">
			    			<td><span th:text="${#dates.format(appointment.date, 'dd/MM/yyyy')}"></span></td>
			    			<td><span th:text="${#dates.format(appointment.time, 'HH:mm')}"></span></td>
			    			<td><span th:text="${appointment.description}"></span></td>
			    			<td><span th:text="${appointment.priority}"></span></td>
			    			<td>
			    				<a class="btn btn-info" href="#" th:href="@{/agenda/__${appointment.id}__}">Edit</a>
			    			</td>
			    		</tr>
			    	</tbody>
			    </table>
    		</div>
    	</div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>